.main-footer-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: calc(40 / 1160 * 100%);

  @include vp-1023 {
    padding-left: 21px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.main-footer-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-flow: row;
  grid-column-gap: 33px;

  @include vp-1023 {
    grid-column-gap: 23px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 8px;
    padding: 22px 0 23px;
  }
}

.main-footer-navigation__link {
  font-family: $ff-links;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-BlackSqueeze;

  @include hover {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        border-radius: 3%;
        outline: 3px solid $color-BlackSqueeze;
      }
    }
  }

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}
